            @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.gav{


       text-align: center;
	background-image:linear-gradient(#FF9415,#FFC709);
	position: fixed;
	width: 100%;
}
.bom{
	text-decoration:none;
    color: black;
     padding: 10px;
     display: inline-block;

}
.meow{
	background-image:url(../img/печенье.jpg);
	padding:101px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment:fixed;



}
.meow button{
	color: lightgreen;

}
.click-bait{
	background-image: url(2021-07-15_10-48-40.png);
    padding: 250px;
    display:block;
    color: white;
    font-size: 50px;
}
.click-bait a{
	color:white;
	font-size: 50px;
}

h2{
    
    
}

 #ПЕЧЕНЬКА-энтэртэймент img{

	float:right;
}	

#ПЕЧЕНЬКА-энтэртэймент {
	padding:10px 100px
}
#ПЕЧЕНЬКА-энтэртэймент p{
	 text-align:justify;}   
body {
	margin:0;
}
.amogus{
	
	width: 22%;
	background-color:brown;
	display: inline-block;
   box-shadow: 0 2px  5px black;
   margin:11px;
   padding: 5px;
	} 
.amogus img{
	width: 100%;

} 
.amogus a{
	background-color: #F4D03F;
	color: #212F3C; 	
	text-decoration: none;
	padding: 5px;
	border-radius: 10px; 
	display: inline-block;

}


#TARIFY{
	background-image: url(ПЕЧЕНЬКУС.png);


}
#YAY{
	background-color: rgba(111, 64, 0,0.5) ;
    display: inline-block;
    width: 30%;
	list-style-type: none;
    vertical-align: middle;
}
#meowmeow{
	background-color: rgba(217, 48, 214,0.5);
    display: inline-block;
    width: 30%;
    vertical-align: middle;
	list-style-type: none;


}    
#beskonechnost{display: inline-block;
    vertical-align: middle;
	width: 30%;
	list-style-type: none;

	background-image: linear-gradient(#FDDB92,#D1FDFF);

}
#yep-no{font-family: 'Press Start 2P', cursive;
	background-color:black;
	color:white;
	border-radius:18%;
	font-size: 
}
#kupit{font-family: 'Press Start 2P', cursive;font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	border-radius:14%;
	padding: 20%;

}
#obloka-meow{font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	border-radius: 17%;
	padding: 60px;
	font-size: 80px;
}
span{
	font-weight:bold;	
}
.cloud-mega-meow{
	background-color: #c9f5cb;
	color: brown;
	padding: 10px;
}
input{
	width:100%;
	background:brown;
	color: #FBAA74;
}
input::placeholder{
	color:white;༼ つ ◕_◕ ༽つ
}
button{
     background-color:#FBAA74;
}
.e8ruvhkdoriyvjgacwhesdinvgckajwesdcgmaiuwkcezdxghjvneailxkucjhversixukgjsgviszkgjerivgej{
	                     background-color:black;
	                     color: white;
}
	
Стилизовать тарифы: фон, ширина, поставить в ряд, добавить отступы, стилизовать кнопку
☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)☜(ﾟヮﾟ☜)¯\_(ツ)_/¯
 

 

Сделать структуру блока с контактами, только HTML, ссылки пустые










